
.nav-page{
    /* position: fixed; */
    width: 50vw;
    /* height: 50vh; */
    background-color: rgb(33, 109, 175);

}

.nav-eintrag{
    padding: 10px;
}

.nav-eintrag-link{
    text-decoration: none;
    color: rgb(153, 138, 51);
}
.nav-eintrag-link:hover{
    text-decoration: none;
    color: rgb(42, 167, 79);
}