

.navi-icon{
    top: 10px;
    right: 10px;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgba(25, 44, 131, 0.5);
}

.zarap-icon{
    top: 10px;
    left: 10px;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgba(189, 122, 45, 0.5);
}